// COLORS
$color-black: #000000;
$color-white: #ffffff;
$color-blue-ribbon: #0062ff;
$color-alto: #dbdbdb;
$color-alto-shade: #dcdcdc;
$color-forget-me-not: #fff1eb;
$color-cod-gray: #1a1a1a;
$color-shark: #202326;
$color-boulder: #777777;
$color-gallery: #ededed;
