.stars {
  &__title {
    margin: 0;
    margin-bottom: 10px;
    padding-top: 40px;
    font-family: "Consolas", "Arial", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: $color-shark;
  }

  &__wrapper {
    display: flex;
    gap: 10px;
  }

  &__input {
    appearance: none;
    width: 25px;
    height: 23px;
    background-image: url("../../img/star.svg");
  }

  &__input:checked {
    background-image: url("../../img/star-checked.svg");
  }
}

@include mobile {
  .stars {
    &__title {
      margin-bottom: 16px;
      padding-top: 39px;
    }
  }
}
