.swiper {
  &-container {
    width: 100%;
    overflow: hidden;
  }

  &-pagination {
    display: none;
  }
}

@include mobile {
  .swiper {
    &-pagination {
      display: flex;
      gap: 12px;
      justify-content: center;
      align-items: center;
    }

    &-pagination-bullet {
      margin: 0 10px;
      width: 10px;
      height: 10px;
      display: inline-block;
      border-radius: 50%;
      background: $color-black;
      opacity: 0.2;
    }

    &-pagination-bullet-active {
      width: 15px;
      height: 15px;
      display: inline-block;
      border-radius: 50%;
      background: $color-blue-ribbon;
      opacity: 1;
    }
  }

  .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0;
  }

  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 39px;
    left: 48%;
    transform: translateX(-50%);
    width: 30%;
  }
}
